.footer {
  grid-area: footer;
  background-color: #f9d8f5;
  padding: 20px;
  position: relative;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  box-sizing: border-box;
}

.footerContent {
  margin-bottom: 20px;
  font-size: 12px;
}

.storeTitle {
  font-size: 18px;
  color: #d81b60;
  font-weight: bold;
}

.instagramLink {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.instagramIcon {
  width: 30px;
  height: 30px;
}